body{

	background: url("https://cdn.wallpapersafari.com/76/82/x1M7v0.png") no-repeat;
	color: white;
	background-size: 100%;
	font-size: 25px;
	background-color: black;
}
nav.nav-class-home ul li.boutton-home{
	list-style-type: none;
	display: inline-block;
	margin: 25px;
}
nav.nav-class-home ul li.boutton-home a{
	color:  #ffffff;
	background-color: #131414;
	text-decoration: none;
	opacity: 0.5;
}
nav.nav-class-home ul li.boutton-home:hover a{
	color: #131414;
	background-color: white;
	transition: 1.0s all;
}
